<%- include("../partials/header") %>





<div class=container>

  <table class="table">
    <thead>
      <tr>

        <th scope="col"><h3>Study Material 11-12</h3></th>

      </tr>
    </thead>
  </table>

</div>
<div class = "container">
	<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="https://scontent.fpnq13-1.fna.fbcdn.net/v/t1.0-9/p851x315/120953113_168214634946977_8845839104962424777_o.png?_nc_cat=101&_nc_sid=730e14&_nc_ohc=73TnK-zs6ysAX8y8AJb&_nc_ht=scontent.fpnq13-1.fna&oh=f067afbc3653d6ba24defe8085e0b93d&oe=5FA27586" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- <h5 class="card-title">Class 11 (All Subject)</h5>
        <p class="card-text">All the syllabus of class 11 is based on the Latest portion of CBSE , NEET and JEE Mains. </p> -->
        <button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View Class-11 Syllabus</button>
      </div>

      <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Subjects</th>
                    <th scope="col">Details</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mathematics</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Physics</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Chemistry</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Biology</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="https://scontent.fpnq13-1.fna.fbcdn.net/v/t1.0-9/p851x315/120930784_168215578280216_1605907914046945436_o.png?_nc_cat=110&_nc_sid=730e14&_nc_ohc=0AdPhVnlHdkAX_m7saw&_nc_ht=scontent.fpnq13-1.fna&oh=cfa75215659181eeb380217f412253cd&oe=5FA1BA05" class="card-img-top" alt="...">
      <div class="card-body">
        <!-- <h5 class="card-title">Class 11 (All Subject)</h5>
        <p class="card-text">All the syllabus of class 11 is based on the Latest portion of CBSE , NEET and JEE Mains. </p> -->
        <button type="button" class="btn btn-success btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View Class-12 Syllabus</button>
      </div>

      <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">

              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Subjects</th>
                    <th scope="col">Details</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mathematics</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Physics</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Chemistry</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Biology</td>
                    <td><button type="button" class="btn btn-link">View</button></td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

    </div>
  </div>







</div>
</div>
