



<!DOCTYPE html>





<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Paytm-Nodejs</title>
  </head>
  <body style="background-color:#f5f3ef">

    <div class="jumbotron jumbotron-fluid" style="background-color:#600080; color:white">
      <div class="container">
        <h1 class="display-4"><b>Show your Support !</b></h1>
        <p class="lead">A little contribution can’t change the world but it can change someone’s Life.</p>
      </div>
      <div class="container">
        <a href="/payment/paytm"> <button type="button" class="btn btn-success" style="background-color: red" >Donate Now</button></a>
       </div>



    </div>
    <div class="container">

  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link " style="color: blue"><b>Our List of Donars</b><span style="padding-left:50px; color:green"><b><svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-heart-half" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 1.314C3.562-3.248-7.534 4.735 8 15V1.314z"/>
  <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg> Thank-you</b></span> </a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>

        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>kale Aniket</td>
        <td>2/11/20</td>
        <td>100</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>lolar Bhushan</td>
        <td>10/11/20</td>
        <td>500</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Sam Dhonge</td>
        <td>10/11/20</td>
        <td>80</td>
      </tr>

    </tbody>
  </table>
  </div>
</div>


    </div>


    <div class="container" style="padding-top: 20px">

  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link " style="color: blue"><b>My Payment History</b></a>
      </li>

    </ul>
  </div>
  <div class="card-body">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.No</th>
        <th scope="col">Date</th>
        <th scope="col">Donar</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>

    </tbody>
  </table>
  </div>
</div>


    </div>



  </body>
</html>
<%- include("../partials/footer") %>
