<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Terms and conditions</title>


  </head>


<body>

<nav class="navbar navbar-light" style="background-color: #600080;">
  <span class="navbar-brand mb-0 h1" style="color:white;"><a href="/" type="button" class="btn btn-outline-light"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg></a> Terms & Conditions</span>

</nav>
	
	<div class="container">
		
	
<h2 style="color:#600080 ; padding-top:10px;">
	Privacy Policies!
</h2>
	<p>
		<b>We value your trust. In order to honour that trust, Eduol's adheres to ethical standards in gathering, using, and safeguarding any information you provide.

Education4ol pvt (operating under the brandname Education4ol), is a Startup edtech company, incorporated in India, for imparting learning.

This privacy policy governs your use of the application Eduol - keep Learning' ('Application'), www.education4ol.com ('Website') and the other associated applications, products, websites and services managed by the Company.

Please read this privacy policy ('Policy') carefully before using the Application, Website, our services and products, along with the Terms of Use ('ToU') provided on the Application and the Website. Your use of the Website, Application, or  services  in connection with the Application,  Website or products ('Services'), or registrations with us through any  modes or usage of any products including through SD cards, tablets or other storage/transmitting device shall signify your acceptance of this Policy and your agreement to be legally bound by the same.

If you do not agree with the terms of this Policy, do not use the Website, Application our products or avail any of our Services.
			</b>
	</p>
<h4 style="color:#600080 ; padding-top:30px;">
	We may disclose Information:
	</h4>
<ul>
	 <li>As required by law, such as to comply with a subpoena, or similar legal process;</li>

    <li>To enforce applicable ToU, including investigation of potential violations thereof;</li>

     <li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, address security or technical issues or respond to a government request;</li>

     <li>With our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this Policy;</li>

    <li>To protect against imminent harm to the rights, property or safety of the Application/Website/ Think and Learn Private Limited or its users or the public as required or permitted by law;</li>

    <li>With third party service providers in order to personalize the Application/Website/Services/products for a better user experience and to perform behavioural analysis;</li>

    <li>Any portion of the Information containing personal data relating to minors provided by you shall be deemed to be given with the consent of the minor's legal guardian. Such consent is deemed to be provided by your registration with us.</li>

	</ul>      

  

<h2 style="color:#600080 ; padding-top:30px;">
	Terms & Conditions:
	</h2>
	
	<b>These Terms & Conditions (“Terms”) of (a) use of our website www.education4ol.com (“Website”), our applications (“Application”) or any products or services in connection with the Application/,  Website/products (“Services”)  or (b) any modes of registrations or usage of products, including through SD cards, tablets or other storage/transmitting device  are between Education4ol (“Company/We/Us/Our”) and its users (“User/You/Your”).

These Terms constitute an electronic record in accordance with the provisions of the Information Technology Act, 2000 and the Information Technology (Intermediaries guidelines) Rules, 2011 thereunder, as amended from time to time.
</b>
	
<h4 style="color:#600080 ; padding-top:30px;">
	No User shall be permitted to perform any of the following prohibited activities while availing our Services:
	</h4>
		
		<ol>
			
		

    <li>1 .Making available any content that is misleading, unlawful, harmful, threatening, abusive, tortious, defamatory, libelous, vulgar, obscene, child-pornographic, lewd, lascivious, profane, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
	
   <li>2. Stalking, intimidating and/or harassing another and/or inciting other to commit violence;
    Transmitting material that encourages anyone to commit a criminal offence, that results in civil liability or otherwise breaches any relevant laws, regulations or code of practice;</li>
	
   <li>3. Interfering with any other person's use or enjoyment of the Application/Website/Services;</li>
	
   <li>4. Making, transmitting or storing electronic copies of materials protected by copyright without the permission of the owner, committing any act that amounts to the infringement of intellectual property or making available any material that infringes any intellectual property rights or other proprietary rights of anyone else;</li>
	
   <li>5. Make available any content or material that You do not have a right to make available under any law or contractual or fiduciary relationship, unless You own or control the rights thereto or have received all necessary consents for such use of the content;</li>
	
    <li>6. Impersonate any person or entity, or falsely state or otherwise misrepresent Your affiliation with a person or entity;</li>
   <li>7. Post, transmit or make available any material that contains viruses, trojan horses, worms, spyware, time bombs, cancelbots, or other computer programming routines, code, files or such other programs that may harm the Application/services, interests or rights of other users or limit the functionality of any computer software, hardware or telecommunications, or that may harvest or collect any data or personal information about other Users without their consent;</li>
	
    <li>8. Access or use the Application/Website/Services/products in any manner that could damage, disable, overburden or impair any of the Application's/Website's servers or the networks connected to any of the servers on which the Application/Website is hosted;</li>
	
    <li>9. Intentionally or unintentionally interfere with or disrupt the services or violate any applicable laws related to the access to or use of the Application/Website/Services/products, violate any requirements, procedures, policies or regulations of networks connected to the Application/Website/Services/products, or engage in any activity prohibited by these Terms;</li>
	
    <li>10. Disrupt or interfere with the security of, or otherwise cause harm to, the Application/Website/Services/products, materials, systems resources, or gain unauthorized access to user accounts, passwords, servers or networks connected to or accessible through the Application/Website/Services/products or any affiliated or linked sites;</li>
	
    <li>11. Interfere with, or inhibit any user from using and enjoying access to the Application/Website/ Services/products, or other affiliated sites, or engage in disruptive attacks such as denial of service attack on the Application/Website/Services/products;</li>
	
    <li>12. Use deep-links, page-scrape, robot, spider or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to increase traffic to the Application/Website/Services/products, to access, acquire, copy or monitor any portion of the Application /Website/Services/products, or in any way reproduce or circumvent the navigational structure or presentation of the Application, or any content, to obtain or attempt to obtain any content, documents or information through any means not specifically made available through the Application/ Website/Services/products;</li>
	
   <li>13. Alter or modify any part of the Services;</li>
	
   <li>14. Use the Services for purposes that are not permitted by: (i) these Terms; and (ii) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdiction; or
    Violate any of the terms specified under the Terms for the use of the Application /Website/Services/products.	</li>
</ol>

	
		

</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>
